<% if !user_signed_in? %>
	<div class="alert alert-primary" role="alert">
		You must be logged in to comment.
	</div>
<% end %>

<!-- post -->
	<h3>
		<%= @post.title %>
	</h3>

	<p>
		<%= @post.content %>
	</p>

	<p><small>
		<%= time_ago_in_words(@post.created_at) %> ago
	</small></p>

<div id="comments">
	<!-- post comment form -->
	<% if user_signed_in? %>
		<%= form_for [@post, Comment.new], local: true do |f| %>
			<div class="form-group">
				<%= f.text_area :content, class: "form-control", rows: "3", placeholder: "Comment..." %>
				<%= f.hidden_field :whichpost, value: @post.id %>
			</div>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	<% end %>

	<!-- comments -->
		<ul>
			<%= render partial: 'comments/comment', collection: @post.comments %>
		</ul>
</div>