<!-- post -->
	<h3>
		<%= @post.title %>
	</h3>

	<p>
		<%= @post.content %>
	</p>

<div id="comments">
	<!-- post comment form -->
		<%= form_for [@post, Comment.new], local: true do |f| %>
			<div class="form-group">
				<%= f.text_area :content, class: "form-control", rows: "3", placeholder: "Comment..." %>
				<%= f.hidden_field :whichpost, value: @post.id %>
			</div>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>

	<!-- comments -->
		<ul>
			<%= render partial: 'comments/comment', collection: @post.comments %>
		</ul>
</div>