<!DOCTYPE html>
<html>
  <head>
    <title>BlogEaseV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  </head>

  <body>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <%= link_to "BlogEase", root_path, class: "navbar-brand" %>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
	        <% if user_signed_in? %>
	        	<li class="nav-item">
		        	<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
	        	</li>
	        <% else %>
	        	<li class="nav-item">
		        	<%= link_to "Log In", new_user_session_path, class: "nav-link" %>
	        	</li>
	        	<li class="nav-item">
		        	<%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
	        	</li>
	        <% end %>
		      <li class="nav-item">
		        <%= link_to "Posts", posts_path, class: "nav-link" %>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Cam's Stuff
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">GitHub</a>
		          <a class="dropdown-item" href="#">LinkedIn</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Portfolio</a>
		        </div>
		      </li>

		    </ul>
		  </div>
		</nav>
		
		<div class="body-container">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
  </body>
</html>
